:root {
  --white-fade: rgba(255,255,255,0.1);
  --green-light: #77ff7c;
  --green-dark: #4caf50;
}

*,
*::before,
*::after {
	box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  font-size: 16px;
}

body {
  background: linear-gradient(160deg, #1a1a1a, #242424);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: background 0.5s;
}

.main {
  display: grid;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.main__energy {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.language {
  position: absolute;
  top: 1rem;
  right: 2rem;
  background: var(--white-fade);
  color: #fff;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.energy {
  display: flex;
  margin-top: 1rem;
  padding: 0.5rem;
  background: var(--white-fade);
  border-radius: 20px 20px 20px 20px;
}

.energy__title {
  font-size: 2rem;
  text-transform: uppercase;
}

.energy__wrapper {
  overflow: hidden;
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 20px 0 0 20px;
}

.energy__progress {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, var(--green-light), var(--green-dark));
  border-radius: 20px 0 0 20px;
  transition: width 0.25s ease-in-out;
}

.button {
  margin-left: 0.6rem;
  padding: 0.3rem 0;
  width: 100%;
  max-width: 80px; 
  background: #4caf50;
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  border-radius: 0 20px 20px 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  
}

.energy__button {
  border: 0;
}

.button--disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.main__info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.info__percent {
  width: 100%;
  font-size: 6rem;
}

@media (max-width: 360px) {
  .main {
    max-width: 310px;
  }
  .energy__title {
    font-size: 1.8rem;
  }
}

@media  (min-width: 361px) and (max-width: 480px) {
  .main {
    max-width: 330px;
  }
  .energy__title {
    font-size: 1.9rem;
  }
}

@media (min-width: 481px) and (max-width: 576px) {
  .main {
    max-width: 380px;
  }
  .energy__title {
    font-size: 2rem;
  }
}
